@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: $primary-orange;
    padding-top: 1.8rem;
    .menu-ui-left {
        height: 100%;
        width: 10%;
        overflow-y: scroll; // Make it scrollable
        box-sizing: border-box;
       
        padding: 1.25rem 0; // Add some padding for top/bottom spacing
        &::-webkit-scrollbar {
            display: none;
        }
        .menu-ui-left-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-size: 1.5rem;
            text-align: center;
            box-sizing: border-box;
            
            span {
                cursor: pointer;
                color: #ffffff87;
                font-family: $font-medium;
                &.active {
                    color: $white; // Active color for selected heading
                    font-family: $font-bold;
                }
            }
        }

        .menu-ui-element{
            height:1.125rem;
            width: 100%;
        }
    }

    .menu-ui-right {

        background-color: $white;
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
        &::-webkit-scrollbar {
            display: none;
        }

        .section {
            min-height: 100vh; // Each section takes full screen height
            padding: 1.25rem;
            background-color: #F4F4F5;
            margin-bottom: 1.25rem;
            position: relative;
          
            h2 {
                width: calc(100% - 12rem);
                font-family: $font-bold;
                font-size: 3rem;
                position: relative;
                top: 2.5rem;
            }

            .menu-ui-category-parent{
                margin-top: 6rem;
            }

            .menu-ui-list-container{
                margin-top: 5rem;

                .menu-ui-subcategory-container{
                    // padding: 2rem 0px;
                    margin-bottom: 1.2rem;
                    border-bottom: 2px dashed #a49f9f;
                    .menu-ui-subcategory{
                        font-size: 1.7rem;
                        font-family: $font-bold;
                    }
                }
            }

            .category-image-container{
                width: 12rem;
                height: 12rem;
                position: absolute;
                top: 0;
                right: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }
            }
        }
    }
}