@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';


.menu-ui-itemdetails-container{
    margin-bottom: 1rem;
    .menu-ui-item{
        @include flex-center(space-between);
        span{
            font-size:1.7rem;
      
            font-family: $font-medium;
        }
    
        .menu-ui-item-name{
            width: 80%;
            word-break: break-all;
        }
    }

    .menu-ui-item-description{
        font-size: 1rem;
        width: 80%;
    }
    
}