@font-face {
    font-family: "Font-Regular";
    src: url("../fonts/Oxanium-Regular.ttf"), 
}

@font-face {
    font-family: "Font-Medium";
    src: url("../fonts/Oxanium-Medium.ttf"), 
}

@font-face {
    font-family: "Font-SemiBold";
    src: url("../fonts/Oxanium-SemiBold.ttf"), 
}

@font-face {
    font-family: "Font-Bold";
    src: url("../fonts/Oxanium-Bold.ttf"), 
}